.marker {
  z-index: 1;

  padding: 5px 8px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border-radius: 20px;

  background-color: hsla(89.99999999999979, 0.90%, 22.66%, 1.00);

  color: hsla(228.00000000000003, 0.00%, 92.24%, 1.00);
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;
}

.marker.active {
  background-color: hsla(89.99999999999979, 0.00%, 100.00%, 1.00);
  box-shadow: 0 0 0 5px rgba(58, 58, 57, 0.4), 0 0 0 12px hsla(60, 0.87%, 22.55%, 0.40);
  color: hsla(228.00000000000003, 0.00%, 0.00%, 1.00);
}