.map-wrapper-seach-center {
  position: absolute;
  left: auto;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 500;

  display: flex;
  width: 100%;
  max-width: 580px;
  margin-top: 88px;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media screen and (max-width: 479px) {
  .map-wrapper-seach-center {
    display: none;
    padding-right: 8px;
    padding-left: 8px;
  }
}